/* ↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧↧
This is project follows the Inverted Triangle CSS (ITCSS)
organizational structure created by Harry Roberts.
The organization is from low to high specifity
and aims to create more scalable, modular, and structured css
The inverted triangle:
                   ________________
    Settings       |______________|       Least Specific
       Tools        |____________|
     Generic         |__________|              |
    Elements          |________|               |
     Objects           |______|                |
  Components            |____|
      Trumps             |__|             Most Specific
Settings ---- Global variables, config switches.
Tools ------- Default mixins and functions.
Generic ----- Ground-zero styles (Normalize.css, resets, box-sizing).
Elements ---- Unclassed HTML elements (type selectors).
Objects ----- Cosmetic-free design patterns.
Components -- Designed components, chunks of UI.
Trumps ------ Helpers and overrides.
↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥↥ */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
@import "./settings/settings";
@import "./generic/normalize";
@import "./elements/typography";
@import "./elements/generic";
@import "./objects/layout";
@import "./components/buttons";
@import "./components/forms";
@import "./trumps/utilities";