.body,
html {
  background-color: #30444e;
  margin: 0 auto;
  padding: 0;
}
.header {
  position: relative;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.header_title {
  position: relative;
}
.header_description {
  color: white;
  font-size: 18px;
  line-height: 40px;
  margin-top: 10px;
}
.container_dropzone{
  max-width: 800px;
  margin: 100px auto 0;
}
.dropzone {
  border: 2px dashed #0087f7;
  border-radius: 5px;
  background: white;
  margin-top: 0px;
}
.dropzone .dz-message {
  font-weight: 400;
}
.dropzone .dz-message .note {
  font-size: 0.8em;
  font-weight: 200;
  display: block;
  margin-top: 1.4rem;
}
.container_upload{
  color: white;
  display: flex;
  width: 100%;
  height: 150px;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.upload_button{
  padding: 10px;
  background-color: #0087f7;
  color: white;
  font-size: 16px;
  color: white;
  border-radius: 10px;
  border:none;
}
.upload_text{
  margin-top: 10px;
}


@media only screen and (max-width: 375px){
.body, html {
  width: 100%;
  background-color: #30444e;
  margin: 0 auto;
  padding: 0;
}
.header_description {
  color: white;
  font-size: 18px;
  line-height: 40px;
  margin-top: 10px;
}
.container_dropzone{
  max-width: 800px;
  margin: 100px auto 0;
}
.dropzone {
  border: 2px dashed #0087f7;
  border-radius: 5px;
  background: white;
  margin-top: -250px;
}
.dropzone .dz-message {
  font-weight: 400;
}
.dropzone .dz-message .note {
  font-size: 0.8em;
  font-weight: 200;
  display: block;
  margin-top: 1.4rem;
}
.container_upload{
  color: white;
  display: flex;
  width: 100%;
  height: 150px;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.upload_button{
  padding: 10px;
  background-color: #0087f7;
  color: white;
  font-size: 16px;
  color: white;
  border-radius: 10px;
  border:none;
}
.upload_text{
  margin-top: 10px;
}
}