.c-button {
  background: #3fdb9c;
  border: none;
  border-radius: 0.6em;
  color: #fff;
  cursor: pointer;
  height: 50px;
  font-family: Source Sans Pro;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  width: 100%;
}
