body {
  text-align: center;
  background: #1f3038;
}
#drop-area {
  border: 0.125rem dashed #25c685;
  border-radius: 1.25rem;
  font-family: sans-serif;
  margin: 0 2rem;
  padding: 1.25rem 1.25rem 3rem 1.25rem;
  color: #f2f2f2;
  position: relative;
  overflow: hidden;
  top: 2rem;
  @media only screen and (max-width: 28.125em) {
    margin-top: 11rem;
  }
}
#drop-area.highlight {
  border-color: purple;
}
// p {
//   margin-top: 0;
// }
.my-form {
  margin-top: 0.625rem;
  display: flex;
  flex-direction: column;
}
#gallery {
  margin-top: 0.625rem;
}
#gallery div {
  border-radius: 1rem;
  margin: 0.5rem;
  float: left;
  width: 8rem;
  height: 8rem;
  background-size: cover;
  vertical-align: middle;
}
.button {
  display: inline-block;
  padding: 0.625rem;
  background: #3dd598;
  cursor: pointer;
  border-radius: 1rem;
  margin: 0 auto;
  /*border: 1px solid #ccc;*/
  width: 30%;
  color: black;
  @media only screen and (max-width: 28.125em) {
    width: 50%;
    
  }
}
.button:hover {
  background: #25c685;
  color: #f2f2f2;
}
#fileElem {
  display: none;
}

#upload-icon {
  margin: 0 auto;
  width: 25%;
  @media only screen and (max-width: 28.125em) {
    width: 50%;
  }
}

.progress {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  appearance: none;
  &::-webkit-progress-value {
    background: var(--grey-dark);
  }

  &::-moz-progress-bar {
    background: var(--grey-light);
  }

  &::-webkit-progress-value {
    background: var(--grey-light);
  }

  &::-webkit-progress-bar {
    background: var(--grey-dark);
  }
}
