body {
  text-align: center;
  background: #1f3038;
}
#drop-area {
  border: 0.125rem dashed #25c685;
  border-radius: 1.25rem;
  width: 30rem;
  font-family: sans-serif;
  margin: 6.25rem auto;
  padding: 1.25rem;
  color: #f2f2f2;
}
#drop-area.highlight {
  border-color: purple;
}
p {
  margin-top: 0;
}
.my-form {
  margin-bottom: 0.625rem;
}
#gallery {
  margin-top: 0.625rem;
}
#gallery img {
  width: 9.375rem;
  margin-bottom: 0.625rem;
  margin-right: 0.625rem;
  vertical-align: middle;
}
.button {
  display: inline-block;
  padding: 0.625rem;
  background: #3dd598;
  cursor: pointer;
  border-radius: 0.313rem;
  /*border: 1px solid #ccc;*/
  color: black;
}
.button:hover {
  background: #25c685;
  color: #f2f2f2;
}
#fileElem {
  display: none;
}
