.c-form {
  width: 100%;
  &__wrapper {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0 var(--spacing-x4);
    @media only screen and (min-width: 28.125em) {
      max-width: 370px;
    }
  }
  &__logo {
    width: 90%;
    text-align: center;
    margin-left: 1em;

  }
  &__title{
    text-align: center;
    width: 100%;
    margin-top: 7rem;
    //font-size: 2.5em;
  }
  &__item {
    margin-bottom: var(--spacing-x4);
    width: 100%;
    display: flex;
  }
  &__icon__container {
    width: 3em;
    height: 3em;
    border-radius: 0.8em;
  }
  &__icon {
    width: 3em;
    padding: 1em;
    max-width: none;
  }
  &__nameIcon {
    width: 3em;
    max-width: none;
  }
  &__item input {
    background: #1f3038;
    border:none;
    color: #ffffff;
    font-family: Source Sans Pro;
    font-size: 1em;
    padding-left: 1em;
    position: relative;
    transition: border-color 0.3s;
    width: 100%;
    border-bottom: 0.1em solid white;

    &::placeholder{
      color: white;
    }
    &:focus {
      border-bottom: 2px solid #c0c0c0;
      outline: none;
    }
  }
  &--upload {
    .c-form__wrapper {
      @media only screen and (min-width: 28.125em) {
        max-width: 768px;
      }
    }
  }
}

/*@media only screen and (min-width: 28.125em) {
  .form__wrapper {
    background: #1f3038;
    margin: 3em auto;
    padding: 2em 2em;
    max-width: 450px;
    box-shadow: 0 0.7em 1em 0em rgb(44, 42, 42);
    border-radius: 1em;
  }
}*/
