.form__wrapper {
  background: #1f3038;
  margin: 3em auto;
  padding: 0 1em;
  max-width: 370px;
}

form {
  padding: 0 1.5em;
}

.form__logo {
  width: 90%;
  text-align: center;
  margin-left: 1em;
}

.form__subtitle {
  font-family: Source Sans Pro;
  font-size: 1.5em;
  line-height: 1.75em;
  color: #96a7af;
  margin-bottom: 2em;
  margin-left: 1em;
}

.form__item {
  margin-bottom: 0.75em;
  width: 100%;
  display: flex;
}

.form__icon__container {
  width: 3em;
  height: 3em;
  border-radius: 0.75em;
}

.form__icon {
  padding: 1em;
}

.form__item input {
  background: #1f3038;
  border: none;
  color: #96a7af;
  font-family: Source Sans Pro;
  font-size: 1em;
  padding-left: 1em;
  height: 50px;
  transition: border-color 0.3s;
  width: 100%;
  border-bottom: 0.1em solid #1d2e35;
  &:focus {
    border-bottom: 2px solid #c0c0c0;
    outline: none;
  }
}

@media only screen and (min-width: 28.125em) {
  .form__wrapper {
    background: #1f3038;
    margin: 3em auto;
    padding: 2em 2em;
    max-width: 450px;
    box-shadow: 0 0.7em 1em 0em rgb(44, 42, 42);
    border-radius: 1em;
  }
}
