body {
  background-color: var(--grey-darker);
  min-height: 100vh;
  display: flex;
  font-family: Source Sans Pro;
}
img {
  max-width: 100%;
  display: block;
}
progress{
  background-color: var(--grey-darker);
}
