.o-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  & h1 {
  }
  & p {
    width: 100%;
    font-size: 1.2em;
  }
  @media screen and (max-width: 700px) {
    width: 100%;
    max-width: 100%;
    margin-top: 100px;
  }
}
