.o-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  & h1{
    
  }
  & p{
    width: 100%;
    font-size: 1.2em;
  }
  @media screen and (max-width: 700px) {
    width: 100%;
    max-width: 100%;
    margin-top: 100px;
  }
}
.o-logo {
  position: absolute;
  top: var(--spacing-x4);
  padding: 0 var(--spacing-x4);
  margin: 0;
  width: 100%;
  height: 200px;
  & img{
    width: 25%;
    height: auto;
    margin-left:auto;
    margin-right: auto;
  }
  @media only screen and (min-width: 28.125em) {
    left: 50%;
    transform: translateX(-50%);
  }
}
